*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2 */
.delivery{
    color: #cccccc;
    font-size: .80rem;
    margin-left: 15px;
}
.india{
    font-size: 1rem;
    margin-left: 4px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 0, 187);
    width: 600px;
    height: 40px;
    border-radius: 4px;
    margin-left: 20px;
    border: none;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    color: #898989;
    border: none;
}
.search-input{
    width: 100%;
    font-size: .85rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box4*/
.line{
    display: flex;
    margin-left: 10px;
}

.IND{
    background: none;
    background-color: #0f1111;
    border: none;
    color: #ffffff  ;
    font-size: 10px;
}
.indian-flag{
    width:15px;
    height: 15px;
}
span{
    font-size: .7rem;
    margin-left: 30px;
}
.Account{
    font-size: .85rem;
    margin-left: 30px;
    font-weight: 700;
}
.seller{
    display: flex;
    font-size: .85rem;
}
.a-seller{
    margin-right: 10px;
    font-weight: 700;
}
.box6-icon{
    margin-right: 5px;
}

/* box7 */
.Cart{
    display: flex;
}
.y-cart{
    font-size: .85rem;
    margin-left: 5px;
    font-weight: 700;
}